{% load static %} 
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>generateur-qrcode</title>
</head>
<body>

  <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
-->
<div class="row">

  

  <div class="col-sm-4 text-center abc">
    <a href="{% url 'list' %}" class="btn btn-primary">Historique</a>


    <!-- Default form login -->
    <form action="" method="post">
      {% csrf_token %}

      <p class="h4 mb-4 text-left">Transformer vos données QRCODE</p>

      <p class="text-left">Saisissez vos informations</p>
      <!-- Email -->
      <label for="pr" class="in">Prénom</label>
      <input type="text" id="pr" class="form-control mb-4" placeholder="Entrer votre prénom" name='prenom'>

      <label for="text" class="in">Nom</label>
      <input type="text" id="text" class="form-control mb-4" placeholder="Entrer votre Nom" name='nom'>

      <label for="tel" class="in">Téléphone</label>
      <input type="text" id="tel" class="form-control mb-4" placeholder="Entrer votre numero" name='telephone'>

      <label for="email" class="in">Email</label>
      <input type="email" id="email" class="form-control mb-4" placeholder="Entrer votre email" name='email'>

      <label for="prof" class="in">Profession</label>
      <input type="text" id="prof" class="form-control mb-4" placeholder="Entrer votre profession" name='profession'>

    
      <div class="d-flex justify-content-left">
        
      </div>

      <!-- Sign in button -->
      <button class="btn btn-info btn-block " type="submit" >Generer</button>
      


    </form>

  </div>


  <div class="col-sm-8 xyz text-center" >

    <img src="{{ img.image.url }}" alt="">

  </div>
</div>
 
  


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>