
.row{

    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
.page{

    margin-top:0%;
}



.btn{
    border-radius: 25px;
    width: 80%;
    margin-top:2%;
}

.sign{
    border-radius: 25px;
    width: 25%;
    margin:auto;
}

form{
    padding: 0;
    margin-left: 15%;
}

.abc{
    background-color: aquamarine;
    padding: 2%;
    margin: auto;
}

.xyz{
    background-color: gray;
    padding: 2%;
}

.form-control{
    width: 80%;
    border-radius: 25px;
}

.fa{
   color: white;
   margin-top: 5%;
   
}

.in{
    color: #495057;
    margin-right: 100%;
}
.in2{
    color: #495057;
    margin-right: auto;
}

.my{
    background-color:#bcc2be;
    border:none; 
}

.custom-control{
    margin-bottom: 2%;
} 

h2.account-text{
color:#fff !important;
font-weight:200;
}

.account-description{
    color:#fff;
    margin-bottom:4%;
    font-weight:200;
}

@media only screen and (max-width: 600px) {
   row{


        margin-top: 5%;
        margin-left: 1%;
        margin-right: 1%;
    }    }
  

img{
    width: 70%;
}